<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz8my_jKeRTwjs7fesJvd9j7k9r7WNXfM</string>
	<key>GCM_SENDER_ID</key>
	<string>433876697716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tale3ne.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tale3ne</string>
	<key>STORAGE_BUCKET</key>
	<string>tale3ne.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433876697716:ios:e2342501d312f13eb84721</string>
</dict>
</plist>